# Bazel files
bazel-*

# IntelliJ Bazel project
.ijwb/

# Pycharm config
.idea/

# Temporary source files
tmp/

# Python cache files
__pycache__/

# Example output directories
examples/kgcn/animal_trade/output/
